<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <style>
    body {
        width: 210mm;
        height: 297mm
    }

    .header {
        width: 100%;
        border-collapse: collapse;

    }
    .header tr td {
        border: black 1px solid;
        width:33%;
        vertical-align: top;
     }

     .result {
        width: 100%;
        border-collapse: collapse;
     }
     .result tr td {
        border: black 1px solid;
        text-align: center;
     }
    .result tr th {
        border: black 1px solid;
        text-decoration: bold;
     }
     .green {
        color: green;
     }

     .red {
        color: red;
     }
      .result tr td.name {
        text-align: left;
     }

    </style>
</head>
<body>
<table class="header">
    <tr>
        <td></td>
        <td><b>Test Type</b>
            <br>Adjustment Test
            <br><b>Operator Name</b>
            <br>{{ operator }}
        </td>
        <td><b>Test Time</b>
            <br>{{ test_time }}
            <br><b>Owner Name</b>
            <br>{{ owner }}
        </td>
    </tr>
</table>

<h3>EUI/EUP Information</h3>
<table>
    <tr>
        <td>Part Number</td>
        <td>{{ part_number }}</td>
    </tr>
    <tr>
        <td>Serial Number</td>
        <td>{{ serial_number }}</td>
    </tr>
    <tr>
        <td>Original Code</td>
        <td>{{ original_code }}</td>
    </tr>
    <tr>
        <td>New Code</td>
        <td>{{ new_code }}</td>
    </tr>
</table>
 <h3>Result Details</h3>
 <table class="result">
 <tr>
     <th>No</th>
     <th>Result Information</th>
     <th>Value</th>
     <th>Min</th>
     <th>Max</th>
     <th>Units</th>
     <th>Status</th>
 </tr>
 {% for i in result %}
 <tr>
    <td>{{ i.number }}</td>
    <td class="name">{% if i.name == 'Electrical Results' or i.name =='Adjustment Results' %}<b>{{ i.name }}</b>{% else %}{{ i.name }}{% endif %}</td>
    <td>{{ i.value }}</td>
    <td>{{ i.minimum }}</td>
    <td>{{ i.maximum }}</td>
    <td>{% if i.units == 'mm3/st' %}mm<sup>3</sup>/st{% else %}{{ i.units }}{% endif %}</td>
    <td>{% if i.status == 'OK' %}<span class="green">{{ i.status }}</span>{% else %}<span class="red">{{ i.status }}</span>{% endif %}</td>
</tr>
{% endfor %}
</table></body></html>
